<h1>Register</h1>
<br>
<form [formGroup]="registerform" (submit)="fun1()">
    Enter Email
    <br>
    <input type="text" formControlName="email"><br>
    <div *ngIf="registerform.controls['email'].hasError('required')">
      Email is Required</div>
    <br>
    <br>
    Enter Username
    <br>
    <input type="username" formControlName="username"><br>
    <div *ngIf="registerform.controls['username'].hasError('required')">
        username is Required </div>
    <div *ngIf="registerform.controls['username'].hasError('minlength')">
        username min length Required i.e 3
    </div>
    <div *ngIf="registerform.controls['username'].hasError('maxlength')">
        username max length Required i.e 20
    </div>
    <br>

    Enter Password
    <br>
    <input type="password" formControlName="password"><br>
    <div *ngIf="registerform.controls['password'].hasError('required')">
      password is Required </div>
    <div *ngIf="registerform.controls['password'].hasError('minlength')">
      password min length Required i.e 3
    </div>
    <div *ngIf="registerform.controls['password'].hasError('maxlength')">
      password max length Required i.e 20
    </div>
    Enter PhoneNumber
    <br>
    <input type="text" formControlName="phoneNumber"><br>
    <div *ngIf="registerform.controls['phoneNumber'].hasError('required')">
        phoneNumber is Required</div>
    <br>
    <br>
    Enter Address
    <br>
    <input type="text" formControlName="address"><br>
    <div *ngIf="registerform.controls['address'].hasError('required')">
      Address is Required</div>
    <br>
    <br>
    <input type="submit" [disabled]="!registerform.valid">
</form>
<!-- <h1>Register</h1>
<br>
<form [formGroup]="registerform" (click)="fun1()">
    Enter Email
    <br>
    <input type="text" formControlName="email"><br>
    <div *ngIf="registerform.controls['email'].hasError('required')">
      Email is Required</div>
    <br>
    <br>
    Enter Password
    <br>
    <input type="password" formControlName="password"><br>
    <div *ngIf="registerform.controls['password'].hasError('required')">
      password is Required </div>
    <div *ngIf="registerform.controls['password'].hasError('minlength')">
      password min length Required i.e 3
    </div>
    <div *ngIf="registerform.controls['password'].hasError('maxlength')">
      password max length Required i.e 20
    </div>
    <br>
    <br>
    <input type="submit" [disabled]="!registerform.valid">
</form> -->
